#index-container {
    background-color: rgb(223, 223, 223);
}

.header-title {
    border-color: red;
}

#index-header {
    background-color: white;
}

.card-author {
    color: rgb(80, 80, 80);
}

#blog-container {
    background-color: white;
}

#blog-post-header {
    border-color: rgb(200, 200, 200);
}

.blog-card {
    background-color: white;
}

.image-caption {
    border-color: red;
}

.blog-post-main {
    border-color: red;
}

blockquote {
    /* font-style: italic; */
    background: #f9f9f9;
    border-color: #ccc;
}

.blog-post-social {
    background-color: rgb(223, 223, 223);
}

.blog-post-about {
    border-color: rgb(200, 200, 200);
}

.footer {
    background-color: white;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

#heart-symbol {
    color: red;
}