body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.button-caption {
    font-size: 1.5em;
    font-weight: bold;
}

.blog-card {
    font-size: 1.5em;
}

.card-author {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

.blog-post-title {
    font-size: 2.5em;
}

.image-caption {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

.blog-post-main {
    font-size: 1.2em;
    line-height: 2em;
}

blockquote {
    /* font-style: italic; */
    border-width: 0 0 0 10px;
    border-style: solid;
    padding: 10px 20px;
}

.author-info {
    font-size: 1.1em;
    line-height: 1.25em;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}